.task-list {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.task-list .task {
  margin-top: 6px 0;
  padding: 10px 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.task-list .task:last-child {
  border-bottom: none;
}

.task-list .task-desc {
  flex-grow: 1;
  margin: 0 1.5em;
  word-break: break-all;
}

.task-list .task-form {
  display: flex;
  margin: 2em 0;
}
